.blog {
  width: 320px;
  margin: 0 auto;

  text-align: center;
}

.blog__intro {
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  border-bottom: 1px solid #e5e5e5;
}

.blog__intro-title {
  display: block;
  padding-bottom: 30px;
}

.blog__intro-description {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.blog__list {
  .list-style (0, 0, none);
}

.blog__item {
  padding: 20px;

  font-size: 14px;
  line-height: 24px;
  text-align: left;

  border-bottom: 1px solid #e5e5e5;
}

.blog__item-title {
  display: block;
}

.blog__item-author {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  color: #333333;
  text-transform: none;
}

.blog__item-stats {
  display: flex;
  flex-basis: content;
}

.blog__item-stats__like {
  width: 23px;
  height: 21px;

  background-color: #ffffff;
  background-image: url("../../img/icon-like.svg");
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.likes-number {
  padding-left: 15px;

  font-weight: 700;
}
