.blog p {
  color: #333333;
}

.blog__intro {
  padding: 38px 22px 30px 22px;

  font-kerning: none; /* Pixelperfect */

  border-bottom: 1px solid #e5e5e5;
}

.blog__intro-title {
  margin: 0;
  padding-bottom: 25px;
}

.blog__intro-description {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.blog__list {
  .list-style (0, 0, none);

  font-kerning: none; /* Pixelperfect */
}

.blog__item {
  padding: 20px;

  font-size: 14px;
  line-height: 24px;
  text-align: left;

  border-bottom: 1px solid #e5e5e5;
}

.blog__item .blog__item-image {
  height: 280px;
  margin: 0;
  margin-bottom: 15px;
}

.blog__item .sunset-image {
  background-image: url("../img/photo-sunset-mobile.jpg");
}

.blog__item .flora-image {
  height: 279px;

  background-image: url("../img/photo-cactus-mobile.jpg");
}

.blog__item .road-image {
  background-image: url("../img/photo-roads-mobile.jpg");
}

.blog__item .bridge-image {
  height: 279px;

  background-image: url("../../img/devil-bridge-small.jpg");
}

.blog__item-author {
  margin: 0;
  padding: 0 0 8px 0;

  text-transform: none;
}

.blog__item-stats {
  display: flex;
  flex-basis: content;
}

.blog__item-stats__like {
  width: 23px;
  height: 21px;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.icon-like {
  fill: #b2b2b2;

  transform: translate(-6px, -2px);
}

.likes-number {
  padding-left: 14px;

  font-weight: 700;
}

/* ---------- Планшетная версия ---------- */

@media (min-width: @tablet-width) {
  .blog {
    width: 648px;
    margin: 0 auto;
  }

  .blog__intro {
    padding: 38px 100px 30px 100px;

    border: none;
  }

  .blog__intro-title {
    font-size: 30px;
  }

  .blog__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }

  .blog__item {
    padding: 0;

    border: none;
  }

  .blog__item-others {
    width: 324px;

    &:nth-child(2n+1) {
      .blog__item-description {
        background-color: #eaeaea;
      }
    }
  }

  .blog__item .blog__item-image {
    margin: 0;
  }

  .blog__item .first-image {
    width: 648px;
    height: 400px;
    background-image: url("../img/photo-sunset-tablet.jpg");
  }

  .blog__item .others-image {
    width: 324px;
    height: 267px;
  }

  .blog__item .flora-image {
    background-image: url("../img/photo-cactus-tablet.jpg");
  }

  .blog__item .road-image {
    background-image: url("../img/photo-roads-tablet.jpg");
  }

  .blog__item .bridge-image {
    background-image: url("../img/photo-bridge-tablet.jpg");
  }

  .blog__item-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 25px;

    background-color: #f2f2f2;
  }
}

/* ---------- Десктопная версия ---------- */

@media (min-width: @desktop-width) {
  .blog {
    width: 1200px;
  }

  .blog__intro {
    padding: 38px 32% 30px 32%;
  }

  .blog__intro-title {
    font-size: 30px;
  }

  .blog__list {
    width: 1200px;
  }

  .blog__item {
    position: relative;
  }

  .blog__item-first {
    width: 1200px;
  }

  .blog__item-others {
    width: 400px;

    &:nth-child(2n+1) {
      .blog__item-description {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .blog__item .first-image {
    width: 1200px;
    background-image: url("../img/photo-sunset-desktop.jpg");
  }

  .blog__item .others-image {
    width: 400px;
  }

  .blog__item .flora-image {
    background-image: url("../img/photo-cactus-desktop.jpg");
  }

  .blog__item .road-image {
    background-image: url("../img/photo-roads-desktop.jpg");
  }

  .blog__item .bridge-image {
    background-image: url("../img/photo-bridge-desktop.jpg");
  }

  .blog__item-description {
    margin-top: -76px;

    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);

    .blog__item-author {
      color: #ffffff;
    }

    .icon-like {
      fill: #ffffff;
    }
  }

  .blog__item-description {
    padding: 10px 27px 10px 23px;
  }
}
