.features__list {
  .list-style (0, 0, none);

  font-kerning: none; /* Pixelperfect */
}

.features__item {
  padding: 35px 0 37px 0;
}

.features__item--blue {
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: @bg-blue;
}

.features__item-content {
  padding: 40px 20px;
}

.features__title {
  margin: 0;
  padding-bottom: 9px;
}

.features__number {
  padding-bottom: 15px;
}

.features__list p {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.features__item--blue p {
  color: #ffffff;
}

.features__image {
  width: 320px;
  height: 260px;

  background-repeat: no-repeat;
}

.city-image {
  background-image: url("../img/main-city-mobile.jpg");
}

.bridge-image {
  background-image: url("../img/main-bridge-mobile.jpg");
}

.features__item--grey {
  position: relative;

  padding: 25px 35px 30px 35px;

  background-color: @bg-grey;
}

.features__item--grey:not(:last-child)::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 20px;

  width: 280px;
  height: 1px;

  background-color: #d6d6d6;
}

/* ---------- Планшетная версия ---------- */

@media (min-width: @tablet-width) {
  .features__item--blue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &:nth-child(1n+2) {
      flex-direction: row-reverse;
    }
  }

  .features__item-content {
    width: 256px;
    padding: 40px 42px;

    box-sizing: border-box;
  }

  .features__image {
    width: 512px;
    height: 256px;

    background-repeat: no-repeat;
  }

  .city-image {
    background-image: url("../img/main-city-tablet.jpg");
  }

  .bridge-image {
    background-image: url("../img/main-bridge-tablet.jpg");
  }
}

/* ---------- Десктопная версия ---------- */

@media (min-width: @desktop-width) {
  .features__item-content {
    width: 400px;
    padding: 50px 55px;
  }

  .features__item--blue-second {
    padding-right: 83px;
    padding-left: 83px;
  }

  .features__image {
    width: 800px;
  }

  .city-image {
    background-image: url("../img/main-city-desktop.jpg");
  }

  .bridge-image {
    background-image: url("../img/main-bridge-desktop.jpg");
  }
}
