.features {
  .mobile-page-style (320px, 0 auto, center);
}

.features__list {
  .list-style (0, 0, none);
}

.features__item {
  padding-top: 35px;
  padding-bottom: 37px;
}

.features__item--blue {
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: @bg-blue;
}

.features__item-content {
  padding-top: 40px;
  padding-bottom: 42px;
}

.features__title {
  display: block;
  margin: 0;
  padding-bottom: 19px;
}

.features__number {
  padding-bottom: 21px;
}

.features__list p {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.features__item--blue p {
  color: #ffffff;
}

.features__image {
  width: 320px;
  height: 260px;
}

.features__item--grey {
  position: relative;

  padding-left: 35px;
  padding-right: 35px;

  background-color: @bg-grey;
}

.features__item--grey:not(:last-child)::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 20px;

  width: 280px;
  height: 1px;

  background-color: #d6d6d6;
}
