.feedback {
  padding-top: 39px;

  font-kerning: none; /* Pixelperfect */
}

.feedback__title {
  margin: 0;
  padding-bottom: 26px;

  font-weight: 700;
}

.feedback__description {
  margin: 0;
  padding-bottom: 19px;

  font-size: 14px;
  line-height: 24px;

  color: #333333;
}

.form {
  border-top: 1px solid #e5e5e5;
}

.form__fieldset {
  padding: 0 20px 25px 20px;

  border: none;

  &:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.form__fieldset--contact-info {
  padding-top: 0;
  padding-bottom: 28px;
}

.form__fieldset--emotions {
  margin-bottom: 19px;
}

.form__legend {
  margin-bottom: 21px;
  padding: 16px 0 0 0;

  font-weight: 700;

  transform: translateX(-3px);
}

.form__legend--contact {
  margin-bottom: 21px;
  padding-top: 20px;
}

.filter-radio-legend {
  padding-bottom: 17px;
}

.filter-checkbox-legend {
  padding-bottom: 10px;
}

.filter-emotions-legend {
  margin-bottom: 17px;
  padding-top: 14px;
}

.form__item {
  position: relative;

  width: 280px;
  margin: 0;

  text-align: left;
}

.form__item-name {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.form__item--contacts:not(:last-child) {
  margin-bottom: 14px;
}

.form__item--contacts-icon::before {
  content: "";

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-position: 21px 20px;
  background-repeat: no-repeat;
}

.icon-phone::before {
  background-image: url("../img/icon-phone.svg");
  background-position: 19px;
}

.icon-email::before {
  background-image: url("../img/icon-mail.svg");
  background-position: 19px 20px;
}

.form__item label {
  margin-right: 12px;
  font-size: 14px;
  color: #333333;
}

.form__item--contacts label {
  display: block;
  margin-left: 22px;
  margin-bottom: 6px;
}

.form__input {
  position: relative;

  width: 100%;
  padding: 16px 65px 16px 20px;

  font: inherit;
  font-weight: 700;

  background-color: #f2f2f2;
  background-repeat: no-repeat;

  border: none;
  box-sizing: border-box;

  outline: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: #ffffff;
    outline: 3px solid #e5e5e5;
  }
}

.form__input::placeholder {
  color: #000000;
}

.form__input-name {
  flex-grow: 1;
  width: 160px;
  padding: 15px 16px 14px 20px;

  box-sizing: border-box;
}

.form__filter {
  .list-style (0, 0, none);
}

.form__filter label {
  font-weight: 700;
  text-transform: none;
}

/*  -----  Фильтры  -----  */

.filter-list {
  text-align: left;
}

.filter-list__option {
  width: 280px;

  &:not(:last-child) {
    margin-bottom: 43px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.filter-list .filter-list__option-checkbox:not(:last-child) {
  margin-bottom: 54px;
}

.filter-list__option label {
  position: relative;

  padding-left: 77px;
}

.filter-list__input + label::before {
  content: "";

  position: absolute;
  top: -15px;
  left: -2px;

  width: 56px;
  height: 56px;

  background-color: #f2f2f2;
}

.filter-list__input--radio + label::before {
  border-radius: 50%;
}

.filter-list__input--checkbox + label::before {
  border-radius: 10%;
}

.filter-list__input--radio:checked + label::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 15px;

  width: 22px;
  height: 22px;

  background-color: #333333;

  border-radius: 50%;
}

.filter-list__input--checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 15px;

  width: 24px;
  height: 16px;

  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

.form__fieldset textarea {
  width: 280px;
  height: 160px;
  padding: 16px 18px 13px 21px;

  font: inherit;
  font-weight: 700;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;

  transform: translateX(-3px);

  &::placeholder {
    font-weight: 700;
    color: #000000;
  }
}

.form__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 48px;

  transform: translateX(-1px);
}

/* ---------- Планшетная версия ---------- */

@media (min-width: @tablet-width) {
  .feedback {
    padding-top: 74px;
  }

  .page-form {
    width: 648px;
  }

  .feedback__title {
    padding-bottom: 31px;

    font-size: 30px;
  }

  .feedback__description {
    padding: 0 15% 58px 16%;

    transform: translateX(-4px); /* Pixelperfect */
  }

  .form {
    display: flex;
    flex-wrap: wrap-reverse;

    border-top: none;
  }

  .form__fieldset {
    padding: 0 0 25px 0;

    border: none;

    &:not(:last-of-type) {
      border-bottom: none;
    }
  }

  .form__fieldset--name,
  .form__fieldset--impression {
    width: 50%;
    margin: 0;
  }

  .form__fieldset--name {
    order: 2;
  }

  .form__fieldset--impression {
    order: 1;
  }

  .form__fieldset--contact-info {
    order: -1;
  }

  .form__fieldset-sights {
    order: -2;
  }

  .form__fieldset--emotions {
    order: -3;
  }

  .form__fieldset--contact-info,
  .form__fieldset-sights,
  .form__fieldset--emotions {
    width: 100%;
  }

  .form__filter--sights {
    display: flex;
    flex-wrap: wrap;
    width: 458px;
    margin: 0 auto;
  }

  .form__legend {
    position: relative;

    margin-bottom: 56px;

    font-size: 21px;
  }

  .form__legend--contact,
  .filter-checkbox-legend,
  .filter-emotions-legend {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .form__legend--name {
    padding-right: 39px;
  }

  .filter-radio-legend {
    text-align: left;
    padding-left: 3px;
  }

  .form__legend--contact {
    padding-top: 41px;
    margin-bottom: 25px;

    transform: translateX(2px);
  }

  .filter-checkbox-legend {
    padding-top: 28px;
    padding-left: 10px;
  }

  .form__legend--contact::before,
  .filter-checkbox-legend::before,
  .filter-emotions-legend::before,
  .form__legend--contact::after,
  .filter-checkbox-legend::after,
  .filter-emotions-legend::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;

    width: 50px;
    height: 1px;

    background: #dbdbdb;
  }

  .form__legend--contact::before,
  .filter-checkbox-legend::before,
  .filter-emotions-legend::before {
    margin-right: 58px;
  }

  .form__legend--contact::after,
  .filter-checkbox-legend::after,
  .filter-emotions-legend::after {
    margin-left: 62px;
  }

  .filter-list__option {
    width: 229px;

    &:not(:last-child) {
      margin-bottom: 52px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .form__item {
    width: 100%;
  }

  .form__item-name {
    padding-top: 1px;
  }

  .form__item--contacts:not(:last-child) {
    margin-bottom: 24px;
  }

  .form__item-name label {
    margin-top: 3px;
    margin-left: 58px;
  }

  .form__item--contacts label {
    margin-left: 20px;
  }

  .form__input-name {
    padding: 15px 16px 14px 22px;
  }

  .icon-phone::before {
    background-position: 23px;
  }

  .icon-email::before {
    background-position: 23px 21px;
  }

  .filter-list .filter-list__option-checkbox {
    margin-bottom: 48px;
  }

  .form__fieldset--emotions textarea {
    width: 100%;
  }

  .form__button {
    order: -4;
  }
}

/* ---------- Десктопная версия ---------- */

@media (min-width: @desktop-width) {
  .page-form {
    width: 960px;
  }

  .feedback__description {
    padding: 0 26% 19px 27%;
  }

  .form__filter--sights {
    justify-content: space-between;
    width: 100%;
  }

  .filter-list__option {
    width: 205px;

    &:not(:last-child) {
      margin-bottom: 43px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
