.feedback {
  padding-top: 40px;
}

.feedback__title {
  margin: 0;
  padding-bottom: 28px;

  font-weight: 700;
}

.feedback__description {
  margin: 0;
  padding-bottom: 19px;

  font-size: 14px;
  line-height: 24px;

  color: #333333;
}

.form {
  border-top: 1px solid #e5e5e5;
}

.form__fieldset {
  padding: 0;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  border: none;

  &:not(.form__fieldset-emotion) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.form__fieldset--contact-info {
  padding-bottom: 28px;
}

.form__legend {
  padding: 0;
  padding-top: 20px;
  margin-bottom: 20px;

  font-weight: 700;
}

.filter-radio-legend {
  padding-bottom: 13px;
}

.filter-checkbox-legend {
  padding-bottom: 8px;
}

.form__item {
  position: relative;

  width: 280px;
  margin: 0;

  text-align: left;
}

.form__item-name {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form__item--contacts-icon::before {
  content: "";

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-position: 21px 20px;
  background-repeat: no-repeat;
}

.icon-phone::before {
  background-image: url("../img/icon-phone.svg");
}

.icon-email::before {
  background-image: url("../img/icon-mail.svg");
}

.form__item label {
  margin-right: 14px;
  font-size: 14px;
  color: #333333;
}

.form__item--contacts label {
  display: block;
  margin-left: 22px;
  margin-bottom: 10px;
}

.form__input {
  position: relative;

  padding-top: 16px;
  padding-right: 59px;
  padding-bottom: 16px;
  padding-left: 22px;

  font: inherit;
  font-weight: 700;

  background-color: #f2f2f2;
  background-repeat: no-repeat;

  border: none;

  outline: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }
}

.form__input::placeholder {
  color: #000000;
}

.form__input-name {
  flex-grow: 1;
  width: 160px;
  padding: 16px 15px 16px 22px;

  box-sizing: border-box;
}

.form__filter {
  .list-style (0, 0, none);
}

.form__filter label {
  font-weight: 700;
  text-transform: none;
}

/*  -----  Фильтры  -----  */

.filter-list {
  text-align: left;
}

.filter-list__option {
  width: 280px;
}

.filter-list__option label {
  position: relative;

  padding-left: 78px;
}

.filter-list__option {
  &:not(:last-child) {
    margin-bottom: 45px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.filter-list__input + label::before {
  content: "";

  position: absolute;
  top: -15px;
  left: 0;

  width: 56px;
  height: 56px;

  background-color: #f2f2f2;
}

.filter-list__input--radio + label::before {
  border-radius: 50%;
}

.filter-list__input--checkbox + label::before {
  border-radius: 10%;
}

.filter-list__input--radio:checked + label::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 18px;

  width: 22px;
  height: 22px;

  background-color: #333333;

  border-radius: 50%;
}

.filter-list__input--checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 18px;

  width: 24px;
  height: 16px;

  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

.form__fieldset textarea {
  padding-top: 13px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 18px;
  width: 280px;
  height: 160px;

  font: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    font-weight: 700;
    color: #000000;
  }
}

.form__button {
  width: 280px;
  margin: 0 auto;
}


