.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.inner-footer {
  padding-top: 25px;

  transform: translateX(-1px); /* Pixelperfect */
}

.page-footer__visit {
  padding-bottom: 36px;
}

.visit-sedona__hashtag {
  margin: 0;

  font-size: 21px;
  font-weight: 700;
}

.page-footer__social {
  width: 151px;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;

  list-style: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 151px;
}

.social-list__link {
  position: relative;

  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .social-icon {
      opacity: 0.3;
    }
  }
}

.social-icon {
  position: absolute;

  fill: #ffffff;
}

.icon-twitter {
  top: 16px;
  left: 14.5px;
}

.icon-facebook {
  top: 14px;
  left: 18px;
}

.icon-youtube {
  top: 16px;
  left: 13px;
}

.copyright__link {
  position: relative;

  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;

  text-decoration: none;
}

.copyright__link-title {
  font-size: 14px;
  font-weight: 400;

  font-kerning: none; /* Pixelperfect */
}

.copyright__link-image {
  position: absolute;
  bottom: -8px;
  right: -6px;

  width: 41px;
  height: 40px;

  &:hover {
    fill: @bg-blue;
  }

  &:active {
    opacity: 0.3;
  }
}
