.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  position: relative;

  min-width: 320px;
  margin: 0 auto;

  text-align: center;
}

.main-nav__list {
  position: relative;

  .list-style (0, 0, none);
}

.site-list li {
  background-color: @bg-blue;
}

.site-list__item-button {
  position: absolute;
  top: 17px;
  right: 15px;

  width: 23px;
  height: 22px;

  font-size: 0;
  background-color: transparent;

  border: none;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: -3px;

    width: 27px;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-list__item {
  &:not(:first-child) {
    border-top: 1px solid #9ac2db;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #678fa8;
  }

  &:last-child {
    box-shadow: inset 0 -2px 5px #6d97b1;
  }
}

.site-list__item a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;

  color: #ffffff;
  text-decoration: none;
}

.site-list__item a[href] {
  &:hover {
    background-color: @bg-blue-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @bg-blue-active;
  }
}

.page-header__main-image {
  position: relative;

  width: 318px;
  height: 389px;

  background-image: url("../../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;

  background-position-x: 50%;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: -1px;

    width: 320px;
    height: 26px;

    background-image: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }
}

.page-header__inner-image {
  position: relative;

  width: 318px;
  height: 158px;

  background-image: url("../../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;

  background-position-x: 50%;
  background-position-y: 100%;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: -1px;

    width: 320px;
    height: 26px;

    background-image: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }
}

.welcome-title {
  position: absolute;
  top: 90px;
  left: 20px;

  width: 281px;
  height: 214px;
}

.text-image {
  position: absolute;
  top: 50px;
  left: 50px;

  width: 229px;
  height: 39px;
}

// @media (min-width: @tablet-width) {
//   .page-header {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;

//     align-items: center;
//   }

// }

// @media (min-width: @desktop-width) {
//   .page-header {
//     display: flex;
//     flex-direction: column-reverse;
//     flex-wrap: wrap;
//   }

// }
