.presentation {
  padding: 29px 0 50px 0;

  text-align: center;

  font-kerning: none; /* Pixelperfect */
}

.presentation__intro {
  padding-right: 35px;
  padding-left: 35px;
}

.presentation__intro-title {
  display: block;
  padding-bottom: 26px;
}

.presentation__intro-description {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.range-filter {
  width: 280px;
  margin-top: -52px;
  margin-left: auto;
  margin-right: auto;
}

.range-controls {
  position: relative;

  height: 24px;
  padding: 21px 23px 0 22px;

  background-color: rgba(0, 0, 0, 0.6);
}

.range-controls .scale {
  height: 4px;

  background-color: rgba(255, 255, 255, 0.2);
}

.range-controls .video-toggle {
  position: absolute;
  top: 19px;
  left: 58px;

  width: 9px;
  height: 9px;

  background-color: #ffffff;

  border-radius: 50%;

  cursor: pointer;
}

.video-controls {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  height: 66px;
  padding-left: 25px;
  padding-right: 23px;

  background-color: #f2f2f2;
}

.video-controls__option {
  padding: 0;

  background-color: inherit;
  border: none;
  outline: none;

  cursor: pointer;
}

.video-controls__option .video-icon {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

.video-replay {
  margin-right: auto;
}

.video-replay-icon {
  width: 16px;
  height: 20px;
}

.video-subtitles {
  margin-right: 31px;
}

.video-subtitles-icon {
  width: 32px;
  height: 20px;
}

.video-fullscreen-icon {
  width: 20px;
  height: 20px;
}
