.presentation {
  padding-top: 35px;
  padding-bottom: 50px;
}

.presentation__intro {
  padding-left: 35px;
  padding-right: 35px;
}

.presentation__intro-title {
  display: block;
  padding-bottom: 30px;
}

.presentation__intro-description {
  margin: 0;
  padding: 0;
  padding-bottom: 37px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.range-filter {
  width: 280px;
}

.range-controls {
  height: 45px;

  background-color: rgba(0, 0, 0, 0.5);
}

.scale {
  position: relative;

  width: 235px;
  height: 3px;

  background-color: rgba(0, 0, 0, 0.8);
}

.bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 9px;
  height: 9px;

  background-color: #ffffff;

  border-radius: 40%;
}
