.search-wrapper {
  padding: 25px 20px 23px 20px;

  font-kerning: none; /* Pixelperfect */
}

.search__title {
  display: block;
  padding-bottom: 20px;

  font-size: 21px;
}

.search__description {
  margin: 0;
  padding: 0 0 34px 0;

  font-size: 14px;
  line-height: 24px;

  color: #333333;
}

.search__link {
  .button;
}

.search__map {
  margin: 0;
}

.search__map iframe {
  background-color: rgb(235, 230, 217);
  border: none;
}
