.search-wrapper {
  padding: 25px 20px 23px 20px;

  font-kerning: none; /* Pixelperfect */
}

.search__title {
  margin: 0;
  padding-bottom: 20px;

  font-size: 21px;
}

.search__description {
  margin: 0;
  padding: 0 0 34px 0;

  font-size: 14px;
  line-height: 24px;

  color: #333333;
}

.search-break {
  display: none;
}

.search__link {
  .button;
}

.search__map {
  margin: 0;
}

.search__map iframe {
  background-color: rgb(235, 230, 217);
  border: none;
}

/* ---------- Планшетная версия ---------- */

@media (min-width: @tablet-width) {
  .search-wrapper {
    padding: 55px 20.1% 58px 20.1%;
  }

  .search__title {
    padding-bottom: 31px;

    font-size: 30px;
  }

  .search__description {
    padding: 0 0 42px 0;
  }

  .search-break {
    display: block;
  }

  .search__map iframe {
    height: 350px;
  }
}

/* ---------- Десктопная версия ---------- */

@media (min-width: @desktop-width) {
  .search-wrapper {
    padding: 55px 31% 65px 31%;
  }

  .search__description {
    padding: 0 0 47px 0;
  }
}
