@tablet-width: 768px;
@desktop-width: 1200px;
@bg-blue: #81b3d2;
@bg-blue-hover: #669ec0;
@bg-blue-active: #5496bd;
@bg-grey: #eeeeee;
@bg-disabled: #e5e5e5;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
